@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300';

*{
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.btn-wrapper{
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.btn{
  display: inline-block;
  box-shadow: none;
  appearance: none;
  border: 0;
  outline: 0;
  background-color: rgb(255, 255, 255);
  height: 45px;
  line-height: 42px;
  padding: 0 30px;
  font-size: 20px;
  border-radius: 30px;
  color: rgb(40, 45, 50);
  cursor: pointer;
  transition: all .5s;
  transition-timing-function: cubic-bezier(.2, 3, .4, 1);
  user-select: none;
  
  &:hover{
    transform: scale(1.1, 1.1);
  }
  
  &:active{
    transform: scale(1.05, 1.05);
  }
}

.container{
    position: relative;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    margin-bottom: 76px;
    background: var(--theme-background);
    border-radius: 15px;
    flex-direction: column;
    align-content: center;
  }

.t7{
    color: var(--theme-texte-color);
    margin-top: 10px;
}
.button {
  bottom: 0px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 20px;
}

p {
  margin-top: 50px;
}

article {
  position: relative;
  width: 70px;
  height: 50px;
  margin: 5px;
  float: left;
  border: 2px solid #50bcf2;
  box-sizing: border-box;
  border-radius: 15px;
}

article div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  transition: 0.5s ease;
}

article input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  border-radius: 15px;
}

input[type='radio']:checked ~ div {
  border-radius: 11px;
  background-color: #50bcf2;
}

.containeur {
  display: flex;
  justify-content: space-evenly;
}
