<div class="container">
  <div class="container2">
    <p class="t1">Bienvenue {{prenom}}</p>
    <p class="t2">Derniers résultats</p>
    <p class="t3">10 dernier enregistrement</p>
    <canvas baseChart
      [datasets]="ChartData"
      [labels]="ChartLabels"
      [options]="ChartOption"
      [legend]="ChartLegend"
      [type]="ChartType"
    ></canvas>
  </div>
</div>

 <ion-tabs>
  <div class="TabBar">

    <ion-icon id="Home" class="TabBarIcon" src="/assets/home.svg" routerLink="/home" routerDirection="backward"></ion-icon>

    <ion-icon id="Manual" class="TabBarIcon" src="/assets/manual.svg" routerLink="/manual" routerDirection="backward"></ion-icon>

    <ion-icon id="Automatic" class="TabBarIcon" src="/assets/automatic.svg" routerLink="/automatic" routerDirection="backward"></ion-icon>

    <ion-icon id="Score" class="TabBarIcon" src="/assets/edit.svg" routerLink="/score" routerDirection="backward"></ion-icon>

    <ion-icon id="Setting" class="TabBarIcon" src="/assets/setting.svg" routerLink="/setting" routerDirection="backward"></ion-icon>

  </div>
</ion-tabs>