.TabBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 76px;
  align-items: center;
  background-color: var(--theme-tabbar-background);
  color: var(--theme-icon-color);
}

.TabBarIcon{
  margin: 13px;
}

#Home{
  color: var(--theme-main-color);
  width: 30px;
  height: 37px;
}

#Manual{
  width: 35px;
  height: 37px;
}

#Automatic{
  width: 50px;
  height: 37px;
}

#Score{
  width: 24px;
  height: 37px;
}

#Setting{
  width: 35px;
  height: 37px;
}

.t1{
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: var(--theme-texte-color);
  position: relative;
}

.container2{
  position: absolute;
  top: 138px; 
  padding-left: 23px;
  padding-right: 23px;
}
.container{
  position: relative;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 76px;
}

.t2{
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */

  letter-spacing: -0.015em;

  color: var(--theme-texte-color);
}

.t3{
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  letter-spacing: -0.055em;

  color: var(--theme-subtexte-color);
}